body {
  font-family: "Roboto Condensed", sans-serif;
}
h1 {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 40px;
  color: black;
  line-height: 30px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}
li:first-letter {
  text-transform: capitalize;
}
.container {
  max-width: 800px;
}
.border-div {
  border: 1px solid lightgray;
  padding: 15px;
  margin: 10px auto;
  border-radius: 5px;
}
.current-info {
  text-align: right;
}
#icon {
  height: 75px;
  width: 75px;
  margin-left: auto;
  padding: 5px;
  margin-top: 10px;
}
#temperature {
  font-size: 60px;
  line-height: 1;
  padding: 5px;
  margin-top: 10px;
}
.units {
  position: relative;
  font-size: 18px;
  top: 17px;
}
.units .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.units .active:hover {
  text-decoration: none;
}
.last-updated {
  text-align: center;
  color: #777c7c;
  font-size: 16px;
}
#description {
  margin-left: auto;
  font-size: 18px;
}
.current-humidity {
  font-size: 18px;
}
.current-wind {
  font-size: 18px;
}
form {
  text-align: center;
}
.submit-button {
  color: #777c7c;
  border: 1px solid black;
  border-radius: 2px;
}
#current-location-button {
  display: block;
  margin: 0 auto;
}
.creator {
  padding-top: 15px;
}
.open-source-code-link {
  color: black;
}
.open-source-code-link:hover {
  color: #777c7c;
  text-decoration: none;
}

.card-img-top {
  display: block;
  width: 30%;
}
.forecast {
  margin: 4px;
  padding: 0;
}
.day {
  text-align: center;
  font-size: 26px;
}
.daily-icon {
  display: block;
  margin: 0 auto;
  width: 30%;
}
.min-max-temp {
  text-align: center;
  font-size: 22px;
}
.sunny {
  filter: invert(90%) sepia(85%) saturate(5960%) hue-rotate(319deg)
    brightness(97%) contrast(107%);
}
.cloudy {
  filter: invert(79%) sepia(5%) saturate(350%) hue-rotate(131deg)
    brightness(90%) contrast(82%);
}
.thunderstorms {
  filter: invert(53%) sepia(0%) saturate(7490%) hue-rotate(247deg)
    brightness(89%) contrast(89%);
}
.rain {
  filter: invert(47%) sepia(24%) saturate(1007%) hue-rotate(165deg)
    brightness(93%) contrast(84%);
}
.partial-sun {
  filter: invert(58%) sepia(94%) saturate(344%) hue-rotate(4deg) brightness(87%)
    contrast(88%);
}
.windy {
  filter: invert(77%) sepia(92%) saturate(3016%) hue-rotate(156deg)
    brightness(100%) contrast(91%);
}
